html {
    font-size: 20px;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: lightsalmon;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: antiquewhite;
    font-size: 2.5em;
}

#homepage {
    margin: 10px;
    border: 10px dashed lightgoldenrodyellow;
}

#title {
    margin: 50px 50px;
    padding: 25px;
    border: 5px double black;
}

#navigation {
    border: 5px dotted black;
    max-width: 550px;
    margin: 0 auto 50px;

}

#navigation * {
    font-size: 1.1em;
    color: black;
    list-style: none;
    padding: 5px 10px;
    text-align: center;
}

#navigation li {
    display: inline-block;
    border: 5px ridge beige;
    margin: 2.5px;
    padding: 15px;
}

img {
    width: 50vw;
    height: auto;
}

#contents {
    background-color: lightblue;
    color: lightcoral;
    font-size: 1.5em;
}

.description {
    text-align: center;
    background-color: beige;
}

.ingredients,
.steps {
    color: black;
}

ul,
ol {
    color: lightcoral;
}